.themes {
  display: flex;
  width: 100px;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  gap: 2rem;
  opacity: 0;
  animation: "themeAnimation" 1s ease-in-out forwards;
  /* webkit */
  -webkit-animation: "themeAnimation" 1s ease-in-out forwards;
  animation-delay: 1s;
}
.theme {
  border: 2px solid #000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.3s ease all;
}
.theme.active {
  border: 2px solid #fff;
}
.theme:first-child {
  cursor: pointer;
  background: linear-gradient(to left, #fff 50%, #000 50%);
}
.theme:nth-child(2) {
  cursor: pointer;
  background: linear-gradient(to left, #f5e6bf 50%, #66443a 50%);
}
.theme:active {
  transform: scale(0.9);
}
.board {
  margin-top: 20px;
  height: 600px;
  width: auto;
  aspect-ratio: 1/1;
  outline: 2px solid var(--neutral100);
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  opacity: 0;
  animation: "fadeIn" 1s ease-in-out forwards;
  /* webkit */
  -webkit-animation: "fadeIn" 1s ease-in-out forwards;
}

.block {
  width: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
  font-size: 1.4rem;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
  transition: 0.3s ease all;
}

.active {
  position: relative;
}
.active::after {
  position: absolute;
  content: "";
  background-image: url("../public/images/knight.svg");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1000;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.active:hover .block:hover {
  background-color: transparent !important;
}
.can-be-captured {
  transition: 0.5s ease all;
  /* color for capturing */
  background-color: var(--red) !important;
}
.row:first-child .block:first-child {
  border-top-left-radius: 5px;
}
.row:first-child .block:last-child {
  border-bottom-left-radius: 5px;
}
.row:last-child .block:first-child {
  border-top-right-radius: 5px;
}
.row:last-child .block:last-child {
  border-bottom-right-radius: 5px;
}
@media screen and (max-width: 700px) {
  .board {
    margin: 0 auto;
    margin-top: 10rem;
    width: 90%;
    height: auto;
  }
  .block {
    font-size: 1.2rem;
  }
  .themes {
    height: 50px;
    width: 90%;
    margin: 0 auto;
    margin-top: 2rem;
    flex-direction: row;
  }
}
